services:
  db:
    image: mysql:8.0
    env_file: .env
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    # map container 3306 to host 3307 to avoid conflicts with local MySQL
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d

  auth:
    env_file: .env
    build:
      context: .
      dockerfile: cmd/auth/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db

  product:
    env_file: .env
    build:
      context: .
      dockerfile: cmd/product/Dockerfile
    ports:
      - "8081:8081"
    depends_on:
      - db

  transaction:
    env_file: .env
    build:
      context: .
      dockerfile: cmd/transaction/Dockerfile
    ports:
      - "8082:8082"
    depends_on:
      - db

volumes:
  db_data:
